* text=auto !eol
*.png -text svneol=unset#image/png
*.txt svneol=native#text/plain
*.xml svneol=native#text/xml
*.hsi svneol=native#text/xml
hlsl/*.fx svneol=native#text/plain
keymaps/*.map svneol=native#text/plain
/makefile svneol=native#text/plain
*.mak svneol=native#text/plain
*.c svneol=native#text/plain
*.h svneol=native#text/plain
*.lay svneol=native#text/xml
*.lst svneol=native#text/plain
*.ico -text svneol=unset#image/x-icon
*.man svneol=CRLF#text/plain eol=crlf
*.rc svneol=CRLF#text/plain eol=crlf
*.m svneol=native#text/plain
*.sh svneol=LF#text/plain eol=lf
src/osd/sdl/man/* svneol=LF#text/plain eol=lf
src/osd/sdl/shader/*.vsh svneol=native#text/plain
src/osd/sdl/shader/*.fsh svneol=native#text/plain
*.py svneol=native#text/plain
src/regtests/chdman/**/*.chd -text
src/regtests/chdman/**/*.cue svneol=native#text/plain
src/regtests/chdman/**/*.wav -text
src/regtests/chdman/**/in.params svneol=native#text/plain
src/regtests/chdman/**/*.bin -text
src/regtests/chdman/**/*.iso -text
src/regtests/chdman/**/*.nrg -text
src/regtests/chdman/**/*.toc svneol=native#text/plain
src/regtests/chdman/**/*.raw -text
src/regtests/chdman/**/*.avi -text
src/regtests/jedutil/eqns/**/*.psf svneol=native#text/plain
src/regtests/jedutil/eqns/**/*.eqn svneol=native#text/plain
src/regtests/jedutil/eqns/**/*.pds svneol=native#text/plain
src/regtests/jedutil/eqns/**/*.abl svneol=native#text/plain
src/regtests/jedutil/eqns/**/*.syn svneol=native#text/plain
src/regtests/jedutil/jeds/**/*.jed -text svneol=unset#application/octet-stream
*.cmd svneol=CRLF#text/plain eol=crlf
*.html svneol=native#text/html
*.gif -text svneol=unset#image/gif
*.css svneol=native#text/css
*.js svneol=native#text/javascript
